<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="shared/head"/>
    <title>Jing</title>
</head>
<body>
    <h1>Search for product:</h1>
    <form  method="get">
        <input type="text" name="text" placeholder="Search">

        <label for="min">Min price</label>
        <input type="number" name="min" id="min" placeholder="Min price">

        <label for="max">Max price</label>
        <input type="number" name="max" id="max" placeholder="Max price">

        <input type="submit" value="Search">
    </form>
</body>
</html>